/**
 * Orders API Test
 * This is a sample Orders API based on the Orders demo from [https://smartbear.com/](https://smartbear.com). 
 *
 * OpenAPI spec version: 2
 * Contact: test@smartbear.com
 *
 * NOTE: This class is auto generated by the swagger code generator program.
 * https://github.com/swagger-api/swagger-codegen.git
 * Do not edit the class manually.
 */
package io.swagger.client.api

import java.io.File
import io.swagger.client.model.Order
import io.swagger.client.core._
import io.swagger.client.core.CollectionFormats._
import io.swagger.client.core.ApiKeyLocations._

object OrderApi {

  /**
   * For valid response try integer IDs with value &gt;&#x3D; 1.
   * 
   * Expected answers:
   *   code 200 :  (successful operation)
   *   code 400 :  (Invalid ID supplied)
   *   code 404 :  (Order not found)
   * 
   * @param orderId ID of the order that needs to be deleted
   */
  def deleteOrder(orderId: Long): ApiRequest[Unit] =
    ApiRequest[Unit](ApiMethods.DELETE, "https://virtserver.swaggerhub.com/Julia_ORG/Orders/2", "/order/{orderId}", "application/json")
      .withPathParam("orderId", orderId)
      .withSuccessResponse[Unit](200)
      .withErrorResponse[Unit](400)
      .withErrorResponse[Unit](404)
        /**
   * For valid response try integer IDs with value &gt;&#x3D; 1.
   * 
   * Expected answers:
   *   code 200 : Order (successful operation)
   *   code 400 :  (Invalid ID supplied)
   *   code 404 :  (Order not found)
   * 
   * @param orderId Order ID
   */
  def getOrderById(orderId: Long): ApiRequest[Order] =
    ApiRequest[Order](ApiMethods.GET, "https://virtserver.swaggerhub.com/Julia_ORG/Orders/2", "/order/{orderId}", "application/json")
      .withPathParam("orderId", orderId)
      .withSuccessResponse[Order](200)
      .withErrorResponse[Unit](400)
      .withErrorResponse[Unit](404)
        /**
   * 
   * 
   * Expected answers:
   *   code 200 : File (file to download)
   *              Headers :
   *                X-Rate-Limit-Remaining - 
   */
  def getOrders(): ApiRequest[File] =
    ApiRequest[File](ApiMethods.GET, "https://virtserver.swaggerhub.com/Julia_ORG/Orders/2", "/order3", "application/json")
      .withSuccessResponse[File](200)
      
  object GetOrdersHeaders { 
    def xRateLimitRemaining(r: ApiReturnWithHeaders) = r.getIntHeader("X-Rate-Limit-Remaining")
  }
  /**
   * For valid response try integer IDs with value &gt;&#x3D; 1.
   * 
   * Expected answers:
   *   code 200 : Order (successful operation)
   *   code 400 :  (Invalid ID supplied)
   *   code 404 :  (Order not found)
   * 
   * @param orderId Order ID of the order that needs to be updated
   * @param newOrder New order info for the order that needs to be updated
   */
  def putOrderById(orderId: Long, newOrder: Order): ApiRequest[Order] =
    ApiRequest[Order](ApiMethods.PUT, "https://virtserver.swaggerhub.com/Julia_ORG/Orders/2", "/order/{orderId}", "application/json")
      .withBody(newOrder)
      .withPathParam("orderId", orderId)
      .withSuccessResponse[Order](200)
      .withErrorResponse[Unit](400)
      .withErrorResponse[Unit](404)
      

}

